@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic&display=swap');

body {
    font-family: 'Noto Sans Arabic', sans-serif;
    background-color: #f7f8fc;
    padding: 20px;
    direction: rtl;
    text-align: right;
}

.container {
    max-width: 800px;
    margin: auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    border-radius: 10px;
}

h2 {
    color: #333;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

input[type="file"],
input[type="number"],
input[type="text"],
button {
    padding: 10px;
    margin: 8px 0;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#results {
    margin-top: 20px;
    overflow-y: auto;
    max-height: 400px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
    line-height: 1.6;
    font-size: 16px;
}

canvas {
    margin-top: 20px;
    max-width: 100%;
    border: 1px solid #ccc;
}
